<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anggi.tubes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Desa Wisata App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".beranda" />
        <activity android:name=".Fragment.Fragmen1" />
        <activity android:name=".Fragment.Fragmen2" />
        <activity android:name=".Fragment.Fragmen3" />
        <activity android:name=".Main2Activity"></activity>
        <activity android:name=".Fragment.DetailAirTerjun" />
    </application>

</manifest>